.li-cart{
    padding: 10px;
    flex-direction: row;
    width: 370px;
}
.img-cart{
    width: 180px;
    height: 160px;
}
.div-in-cart{
    flex-direction: column;
    margin: 10px;
}
.cart-summary{
    padding: 10px;
    font-weight: bold;
    color: rgb(81, 56, 24);
}